@use '../styles/globals.scss' as g;
.mainContainer{
  overflow: hidden;
  background-color: g.$primary-color;
  height: auto;
}

.sectionContainer{
  position: relative;
}

.gradient1{
  z-index: 1;
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 15%;

  background: rgba(198, 164, 233, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient4{
  position: absolute;
  z-index:1;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}