@use '../../styles/globals.scss' as g;

.sectionContainer{
  position:relative;
  z-index: 1;
  padding:g.$space-xxx-large g.$space-large;
  @media screen and (min-width: g.$desktop-min) {
    padding:g.$space-xxxxxxxxx-large;
  }
}


.heroHeading{
  font-weight: bold;
  font-size: 44px;
  color: g.$text-color;
  line-height: 64.4px;
  margin: 0;
  @media screen and (min-width: g.$desktop-min) {
    font-size: 100px;
    line-height: 114.4px;
  }
}

.featuresContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 100%;
  @media screen and (min-width: g.$desktop-min) {
    max-width: 2300px;
  }
}